//@function r($px, $base-font-size:75) {
//@return ($px/$base-font-size)*1rem;
//}
//@mixin f($font-size,$styles:'font-size'){
//#{$styles}: $font-size;
//[data-dpr="2"] & {
//  #{$styles}: $font-size*2;
//}
//[data-dpr="3"] & {
//  #{$styles}: $font-size* 3;
//}
//}
@mixin f($font-size,$styles:'font-size'){
        #{$styles}: $font-size;
}
@function r($px, $base-font-size:75) {
   @return $px/2*1px;
}

$herder:150;
$footer:100;
$f22:22px;
$f20:20px;
$f18:18px;
$f16:16px;
$f14:14px;
$f13:13px;
$f12:12px;




