html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{padding: 0; margin: 0; line-height: 1; -webkit-tap-highlight-color:rgba(0,0,0,0);font-size: 100%; box-sizing: border-box; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block;}
b{font-weight:inherit;}
a{ color:inherit; text-decoration: none;}
ul,ol{ list-style: none;}
img{ border: 0; vertical-align: middle;}
table{ border-spacing: 0;border-collapse:collapse;}
html,body{height:100%;width: 100%; font-family: 'PingFangSC-Regular', Helvetica, '微软雅黑',arial; background-color: #d8d8d8;}
#app{height:100%;width: 100%;}
button,[type='button']{ background: none;color: inherit; outline: none; cursor: pointer; border: none;}
input[type='text'],input[type='password']{ border: 1px #dcdcdc solid;outline:none; box-sizing: border-box;}
table{ border-spacing: 0;border-collapse:collapse;}
select{border:1px #ddd solid;}
input::-webkit-input-placeholder{color:#999}
input::placeholder{color:#999}
